.container {
    text-align: center;
    box-sizing: border-box;
    width: 600px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-bottom > div {
    display: flex;
    flex-direction: row;
}

.card-bottom > div > div {
    margin: 10px;
}

.button:hover {
    cursor: pointer;
}

.price {
    font-size: 30px;
}

.add-trip, .remove-trip  {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(215, 106, 33);
    cursor: pointer;
}

.remove-trip {
    background-color: rgb(155, 41, 0);
}



.back-button{
    position: absolute;
    background-color: rgb(233, 183, 45);
    text-align: center;
    padding: 10px;
    border-radius:10px;
    margin: 20px;
    cursor: pointer
}

.back-button:hover{
    background-color: rgb(192, 144, 11);
}

a {
    text-decoration: inherit;
    color: inherit;
}

.photo-button > img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

h1 {
    margin-top: 40px;
}