.container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: inherit;
    display: inline-block;
    color: inherit;
}

.button {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: lightgrey;
    cursor: pointer;
}

#hello {
    background-color: rgb(74, 198, 255);
    cursor: default;
}

.active-link {
    background-color: gray;
}

.info {
    margin: 10px;
}

.notice {
    font-size: 36px;
    margin: 10px;
    cursor: pointer;
}
