.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, h2 {
    margin: 0.4em;
    text-align: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

button {
    padding: 5px;
    margin: 2px 5px;
}

table, th, td {
    font-size: 18px;
    padding: 5px;
    border: 1px solid black;
}

td {
    padding: 5px 15px;
}

.center {
    justify-content: center;
}
